
/* 
THIS NOTICE MUST REMAIN INTACT.

Copyright  2011 Quincy Lam aka Micro01 aka reikaze
E-mail: lklq@live.com

This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/

#darknessBox {
	background-color: rgba(0,0,0,0.8);
	display: block;
	z-index: 99999999;
	overflow: visible;
	position: fixed;
	top: 0;
}

#closeText {
	color: white;
	float: right;
}

#bigImage {
	height: 61%;
	display: block;
	position: relative;
	top: 19%;
	margin: 0 auto;
}

#listContainer {
	overflow: auto;
	position: absolute;
	top: 82%;
	left: 0%;
	height: 17%;
	width: 110%;
}

#thumbStrip li {
	display: inline-block;
	border: 0.5em solid 0x555;
	margin: 0 0.1em;
}

#thumbStrip li img {
	height: 6em;
	width: 6em;
}
